# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtualenvs
.venv/
venv/

# Build
build/
dist/

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Editors
.idea/
.vscode/
.DS_Store

# Env
.env
.env.*
!.env.example
